**.iml
**/.gradle
**/local.properties
andoid/.idea/caches
andoid/.idea/libraries
andoid/.idea/modules.xml
andoid/.idea/workspace.xml
andoid/.idea/navEditor.xml
andoid/.idea/assetWizardSettings.xml
andoid/.DS_Store
**/build/
andoid/captures
andoid/.externalNativeBuild
andoid/.cxx
andoid/local.properties

**/.vscode/
**/.idea/
